rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    function isOwner() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'owner';
    }
    
    function isAdmin() {
       return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ['admin', 'owner'];
    }

    match /users/{userId} {
      allow read: if request.auth != null;
      allow create: if request.auth.uid == userId;
      allow update: if request.auth.uid == userId || isOwner();
    }
    
    match /users/{userId}/pushSubscriptions/{subscriptionId} {
      allow read, write: if request.auth.uid == userId;
    }

    match /projects/{projectId} {
      allow read: if request.auth != null;
      allow create, update: if isAdmin();
      // Deletion is handled by the deleteProjectAndFiles Cloud Function
      allow delete: if isAdmin();
      
      match /files/{fileId} {
        allow read: if request.auth != null;
        allow create: if request.auth != null; 
        // Deletion is handled by the deleteProjectFile Cloud Function
        allow delete: if request.auth.uid == resource.data.uploaderId || isAdmin();
      }
    }

    match /shifts/{shiftId} {
      allow read, write: if request.auth != null;
    }
    
    match /settings/{docId} {
      allow read, write: if isOwner();
    }

    match /announcements/{announcementId} {
      allow read: if request.auth != null;
      allow create, update, delete: if isAdmin();

      // Rule to allow users to acknowledge an announcement.
      // This allows a user to create a document in this subcollection,
      // but only if the document ID is their own user ID.
      match /acknowledgedBy/{userId} {
        allow read: if request.auth != null;
        allow create: if request.auth != null && request.auth.uid == userId;
        allow update, delete: if false; // No one can modify or delete receipts from the client.
      }
    }
  }
}
